#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Convo Anywhere
Exec=/opt/convo-anywhere-linux-x64/convo-anywhere
Icon=convo-anywhere
